/**~Header/Nav~**/
body.branding-guide {background: $secondaryColor !important;}
.contain-to-grid {
	&.branding {background: transparent none;}
}
.top-bar {
	&.branding {background: $secondaryColor; border-bottom: 3px solid $grey;
		ul {
			li{
				&:hover, &.active {background: transparent none;}
					a.branding-guide {background: url("../images/home-icon.png") no-repeat center; padding: auto 10px;
						&:hover, &.active {background: transparent url("../images/home-icon-active.png") no-repeat center; padding: auto 10px;}
				}
			}
		}

	}
}
/**~Main~**/
.branding-wrapper {background: $white; border-bottom: 4px solid $grey;}


/**~Footer~**/
footer { background-color: lighten($secondaryColor, 15%);
	ul {list-style-type: none;
		li {font-weight: bold; font-size: 85%;}
	}
	.footer-branding {margin: $columnGutter;}
	.section-wrapper {}
}