#homepage-intro {background: url(../images/global/sep.png) no-repeat center top; margin-top: 20px; padding-top: 35px;
	h1 {margin-top: 60px; margin-bottom: 0;}
	 p {font-size: ms(1);}
	 .eight.columns {padding-right: 120px;}
}

#tiled-features {padding-top: 40px; background: url(../images/global/sep.png) no-repeat center top; margin-top: 50px;
	.four.columns {
		img {margin-left: 60px;}
		h3 {font-size: ms(3);}
	}
	#view-features {background: #f2f2f2; margin: 20px 0;
		h2 {text-align: center;}
		 a {}
	}
}

#pre-footer {background: url(../images/global/upper-sep.png) no-repeat center top; padding-top: 50px;
	p {font-size: ms(1);}

}

#demo {background: $darkGrey; margin-top: 20px;
   h3 {color: $white; text-align: center; margin: 20px 0}

}

#footer {background: $lightGrey;
	 h2 {color: $darkGrey; margin-bottom: 0;}
	 h4 {color: $darkGrey; margin-bottom: 0; margin-top: 25px}
	 ul {list-style-type: none;
	 	li {padding: 10px 0; border-bottom: 1px dotted $grey; line-height: 16px;
	 	&:last-child {border: 0;}
	 	}

	 }

	 #info-block {padding-top: 20px;}
	 #link-list {padding-bottom: 20px;}

	 .three.columns {
	 	h4 {color: $midGrey;}
	 	ul {list-style-type: none;
	 		li {
	 			a {color: $midGrey;

	 			}
	 		}
	 	}
	 }

	 #findGroup { padding-bottom: 20px; padding-top: 15px; border-bottom: 1px dotted $grey; border-top: 1px dotted $grey; margin-left: 15px; margin-right: 15px;
	 	h2 {font-size: ms(3); margin-bottom: 10px;}
	 	.container {background: none; padding: 0;}
	 	.three.columns {
	 		&:first-child {padding-left: 0;}
	 		p {
	 			strong {color: $darkGrey;

	 			}
	 		}
	 	}
	 	.six.columns {padding-right: 0;}
	 }

}