<nav class="top-bar branding contain-to-grid fixed">
	<div class="row">
	  	<ul class="left">
	    	<li class="name"><a href="{{ site.site_main }}"> <img src="{{ site.img }}" /> </a></li>
	    	<li class="toggle-topbar"><a href="#"></a></li>
	  	</ul>
	    <ul class="right horizontal">
		    {% assign pages_list = site.pages %}
		    {% assign group = 'branding' %}
		    {% include pages_list %}
	    </ul>
    </div>
</nav>