<div class="row">
<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="#"><img src="../images/global/header-logo.png"/></a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
    <ul class="right horizontal">
    {% assign pages_list = site.pages %}
    {% assign group = 'branding' %}
    {% include pages_list %}
    </ul>
</nav>
</div>

