<h3>All Features</h3>

<ul class="nav-bar vertical">
  {% for item in site.pages %}
    {% if item.tags contains 'for_you' or item.tags contains 'for_your_enterprise' %}
      {% if item.root != 'enabled' %}
        <li {% if item.url == page.url %}class="active"{% endif %}><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

