<nav class="top-bar">
  <div class="row">
    <div class="twelve columns">
      <ul>
        <li class="name"><a href="#" class="logo"><img src="images/global/header-logo.png"/></a></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include pages_list %}
      </ul>
      </ul>
    </div>
  </div>
</nav>