<div class="row">
  <div class="twelve columns">
    <div class="five mobile-four columns">
      <h1>Less work. More play.</h1>
      <p>Get your group or organization started  by creating a group.  Gain access to free tools that ensure there’s more time for play!</p>
      <a class="large button twelve columns" href="#">Create a group!</a>
    </div>
    <div class="seven hide-for-small columns">
      <img src="images/hero/homepage-hero-shot.png"/>
    </div>
  </div>
</div>



