{% for node in site.pages %}
  {% if node.block %}
    {% for block in page.right_col_blocks %}
      {% if block == node.block %}
        <div class="panel">
          {{ node.content }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
