#findGroup {
		h2 {margin: 10px 0 10px 0;}
		.twelve.columns.container {background: $darkGrey; @include border-radius(3px); padding: 10px 0;
						.three.columns {padding-right: 0;
							.nine.columns {padding: 0;
								  select {-webkit-appearance: menulist-button; font-size: ms(1); height: 35px;}
							}
							.three.columns {
									  	 p { text-align: center; margin: 0; padding-top: 8px;
											strong {color: $white; text-align: center; }
									  	   }
							}
						}

						.six.columns {padding-left: 0;
							.nine.columns {padding-right: 0;
								  select {-webkit-appearance: menulist-button; font-size: ms(1); height: 35px;}
							}
							.three.columns {
								  strong {color: $white; text-align: center; }
							}
						}
						   
		} 
}