#findGroup {
		.twelve.columns.container {background: $darkGrey; padding: 10px 0;
						.three.columns {
							.ten.columns {
								  select {}
							}
							.two.columns {
								  strong {color: $white; text-align: center; }
							}
						}

						.six.columns {
							.ten.columns {
								  select {}
							}
							.two.columns {
								  strong {color: $white; text-align: center; }
							}
						}
						   
		} 
}