section#hero-wrapper {background: $darkGrey; background: url(../images/hero/homepage-hero-bg.png) no-repeat 65% -90px, url(../images/global/bg/low_contrast_linen_bg.png) repeat 0 0; max-height: 360px; padding-bottom: 20px; margin-bottom: 0;

          h1 {color: $white; text-shadow: 1px 1px #000; font-size: ms(7); margin: 30px 0 20px 0; line-height: 60px;}
           p {color: $white; font-size: 18px;}
         img {margin-top: 30px;}
}

section#feature-hero-wrapper {background: url(../images/global/bg/low_contrast_linen_bg.png) repeat 0 0; padding-bottom: 20px;
	#feature-hero {
		min-height: 126px; 
		h1 {color: $white; font-size: ms(7); margin-top: 20px;  line-height: 60px;}
		h2 {color: $white; font-size: ms(3);} 
		img {margin-top: 20px;}
	}
}

section#info-hero-wrapper {background: $lightGrey;
	#info-hero {
		min-height: 270px; background: url("../images/features/hero-bg.png") no-repeat right center;
		h1 {font-size: ms(7); margin-top: 40px; line-height: 60px;}
		h2 {font-size: ms(3); color: $darkGrey;} 
	}

	#info-image {position: relative;
		img {position: absolute; top: 70px; right: 160px;}
	}
}

section#knowledge-hero-wrapper {background: url(../images/global/bg/low_contrast_linen_bg.png) repeat 0 0;
	#knowledge-base-hero {
		height: 126px; background: url("../images/knowledge/knowledge-base-hero-bg.png") no-repeat right center;
		h1 {color: $white; font-size: ms(7); margin-top: 10px; margin-bottom: 0; line-height: 60px;}
		h2 {color: $white; font-size: ms(4); margin: 0;} 
	}
}