section.hero {background: $darkGrey; background-image: url(../images/hero/homepage-hero-bg.png); background-position: 80%, top; background-repeat: no-repeat; max-height: 360px; padding-bottom: 20px; margin-bottom: 40px;

          h1 {color: $white; text-shadow: 1px 1px #000; font-size: 72px; margin: 20px 0; line-height: 70px;}
           p {color: $white; font-size: 18px;}
         img {margin-top: 30px;}
}