---
layout: default
layout_keyword: knowledge_base
title: Knowledge base
pages: [ item.tags ]
right_col_blocks: [popular_admin_topics, popular_user_topics]
---

<script>
$(window).load(function(){
	var items = new Array(
			"Did you know that you can create groups under groups called sub-groups?",
			"Did you know that you can change the layout of your groups homepage?",
			"Did you know you can manage your members through your group page?",
			"Did you know there are over 100,000 groups on our site?"
		);
	    item = items[Math.floor(Math.random()*items.length)];
	$('.alert-box').append(item);
});
</script>

<div class="row">
	<div class="twelve columns" id="knowledge-hp-block">
		<div class="alert-box">

		  <a href="" class="close">&times;</a>
		</div>
		<h4>Frequently asked questions</h4>
		<div class="six columns">
			<ul class="section-list">
				<li><a class="question" data-id="1">Can anyone use Allplayers.com?</a></li>
				<li><a class="question" data-id="2">Is AllPlayers.com PCI Compliant?</a></li>
				<li><a class="question" data-id="3">Is AllPlayers.com COPPA compliant?</a></li>
				<li><a class="question" data-id="4">How are you different from your competitors?</a></li>
				<li><a class="question" data-id="5">How is AllPlayers.com different from Facebook regarding social networking?</a></li>
			</ul>
		</div>
		<div class="six columns">
			<ul class="section-list">
				<li><a class="question" data-id="6">Are you hiring?</a></li>
				<li><a class="question" data-id="7">How many employees do you have?</a></li>
				<li><a class="question" data-id="8">Where are you located?</a></li>
				<li><a class="question" data-id="4">Free is always too good to be true. How does AllPlayers.com stay in business?</a></li>
				<li><a class="question" data-id="4">How do I submit bugs with the AllPlayers.com system?</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="question1" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p>YES! This is the great thing about AllPlayers.com. Because it is free, it is a great solution for groups to use, no matter how big or small the group. Currently, AllPlayers.com is not only used by large recreational organizations, but also small book clubs, dance instructors, bands, parent-teacher organizations and even families. Try it out and see for yourself!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="question2" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p>We use authorize.net as a payment gateway and we are PCI compliant. As a merchant who accepts credit card transactions, AllPlayers.com is required to be compliant with the Payment Card Industry Data Security Standard (PCI DSS). PCI DSS is a set of comprehensive requirements developed by the major card brands to facilitate the adoption of consistent data security measures.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="question3" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p>Websites that are collecting information from children under the age of thirteen are required to comply with Federal Trade Commission Children's Online Privacy Protection Act (COPPA).
COPPA is just the starting point for security at AllPlayers.com. We raise the compliance bar with our COPPA+ Guardian Watch.
COPPA+ Guardian Watch is the new standard in protecting children online, and we are proud to say we did it first. COPPA+ Guardian Watch is the first service that verifies a child's guardian through face-to-face confirmation by a trusted source, like a coach, teacher or mentor. It keeps the parent in total control 100% of the time.
Parents and guardians control what features are accessible to their children. This includes viewing friends and messages. Parents can always stay informed, aware and on guard.
AllPlayers.com takes the privacy of our members and their families seriously.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="question4" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p>AllPlayers.com stands out from the other companies in this industry for many reasons. First, and we think best, is our price – FREE! Also, the comprehensive features offered by AllPlayers.com are far and above offerings by other companies. Some will do schedules, some will offer web pages and others might report scores, but none can match feature-to-feature with AllPlayers.com. Visit our features page to learn more!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="question5" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p>AllPlayers.com provides unparalleled access and support to protect our children. Parents are in a position of control at all times, and have ability to monitor and protect in real-time. Additionally, AllPlayers.com verifies each member that signs up.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="question6" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p>Yes! Check our careers page for details. We're almost always hiring experienced, professional Drupal developers.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="question7" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p>AllPlayers.com has roughly 50 employees nationwide.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="question8" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p>Our headquarters is located in Addison, Texas – a city bordering Dallas. We also have offices and representatives in Southern California, Colorado, Chicago, Ohio and Missouri.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="question8" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p>The services offered through AllPlayers.com are completely free for groups and group members. If a group processes registration fees through AllPlayers.com, there is a tiny processing fee associated with the merchant services. In addition, AllPlayers.com offers services such as insurance, printing and other services that have fees associated with them. We also offer products like team uniforms, trophies, promotional items and more at great prices to our groups. But to be clear, all features within the AllPlayers.com solutions are FREE.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="question8" class="reveal-modal [expand, xlarge, large, medium, small]">
  <p>If you experience a bug, or would like to suggest a new feature, we invite you to submit a support ticket.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".question").click(function() {
      var id = $(this).attr('data-id');
      $("#question" + id).reveal();
    });
  });
</script>

<div class="row">
	<div class="six columns" id="knowledge-hp-block">
		<h4>Basic user knowledge
			<ul class="totals">
				<li class="six columns"><a class="pages has-tip tip-top" title="View all pages" href="knowledge-base/basic-user-knowledge"></a></li>
				<li class="six columns"><a class="videos has-tip tip-top" title="View all videos" href="knowledge-base/basic-user-knowledge/videos.html"></a></li>
			</ul>
		</h4>
		

		<div class="twelve columns">
			<ul>
				{% for page in site.pages %}
					{% if page.tags == 'basic_user_pages' %}
						{% if page.root == 'enabled' %}
							<h5><a href="{{ page.url }}">{{ page.title }}</a></h5>
						{% else %}
							<li><a href="{{ page.url }}">{{ page.title }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>

	</div>
	<div class="six columns" id="knowledge-hp-block">
		<h4>Group admin knowledge
			<ul class="totals offset-by-six">
				<li class="six columns"><a class="pages has-tip tip-top" title="View all pages" href="knowledge-base/group-admin-knowledge"></a></li>
				<li class="six columns"><a class="videos has-tip tip-top" title="View all videos" href="knowledge-base/group-admin-knowledge/videos.html"></a></li>
			</ul>
		</h4>
		

		<div class="twelve columns">
			<ul>
				{% for page in site.pages %}
					{% if page.tags == 'group_admin_pages' %}
						{% if page.root == 'enabled' %}
							<h5><a href="{{ page.url }}">{{ page.title }}</a></h5>
						{% else %}
							<li><a href="{{ page.url }}">{{ page.title }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>

	</div>
</div>