---
layout: default
layout_keyword: knowledge_base
title: Knowledge base
right_col_blocks: [popular_user_topics]
osmplayer:
  template: default
---
<div class="row" id="all-videos-tabs">
	<div class="twelve columns">
		<dl class="tabs pill">
		  <dd class="active"><a href="#pillTab1">Basic User Videos</a></dd>
		  <dd><a href="#pillTab2">Group Admin Videos</a></dd>
		</dl>
	</div>
</div>
<ul class="tabs-content">
  <li class="active" id="pillTab1Tab">
  	<div class="row">
		<div class="twelve columns">
			<h2>Basic user video tutorials</h2>
			<div class="row" id="video-block">
				{% for video in site.pages %}
					{% if video.group == 'basic_user_video' %}
						<div class="four columns">
							<div class="twelve columns">
								<img src="{{ video.video_thumb }}" />
								<h5><a href="{{ video.url }}">{{ video.title }}</a></h5>
								<p>{{ video.description }}</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
  </li>
  <li id="pillTab2Tab">
  	<div class="row">
		<div class="twelve columns">
			<h2>Group admin video tutorials</h2>
			<div class="row" id="video-block">
				{% for video in site.pages %}
					{% if video.group == 'group_admin_video' %}
						<div class="four columns">
							<div class="twelve columns">
								<img src="{{ video.video_thumb }}" />
								<h5><a href="{{ video.url }}">{{ video.title }}</a></h5>
								<p>{{ video.description }}</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
  </li>
</ul>



