 // Create one color gradients

 @mixin border-radius($number) {
    -moz-border-radius: $number;
	-webkit-border-radius: $number;
	border-radius: $number;
  }

   @mixin top-border-radius($number) {
    -moz-border-radius: $number $number 0 0;
	-webkit-border-radius: $number $number 0 0;
	border-radius: $number $number 0 0;
  }