<!DOCTYPE html>
<html>
{% include branding-head-tag.snippet %}
<body class="branding-guide">
<!-- Header and Nav -->
<header class="contain-to-grid fixed branding">
  {% include branding-header.snippet %} 
</header>
<!-- End Header and Nav -->
<!-- Front page layout for brochure branding site -->
{% if page.layout_keyword == 'front' %}
  {% include branding-hero.snippet %}
  <div class="row branding-wrapper">
    <section role="main" class="twelve columns hide-extras">
        {{ content }} 
    </section>
  </div>
{% endif %}
<!-- END Front page layout for brochure branding site -->

<!-- Sub page layout for brochure branding site -->
{% if page.layout_keyword == 'sub_page' %}
  <div class="row branding-wrapper">
    <section class="eight columns">
      {{ content }}
    </section>
    <section id="sidebar1" class="four columns" role="complementary">
    </section>
  </div>
{% endif %}
<!-- END Sub page layout for brochure branding site -->
<footer class="branding-guide row">
  <div class="twelve columns">
    {% include branding-footer.snippet %}
  </div>
</footer>
</body>
</html>
