<!DOCTYPE html>
<html>
{% include branding-head-tag.snippet %}
<body class="branding-guide">
<!-- Header and Nav -->
{% include branding-header.snippet %} 
<!-- End Header and Nav -->
<div class="row branding-wrapper">
  <section>
    <div class="seven columns">
      {{ content }} 
    </div>
    <div class="four offset-by-one columns">
      <!--<p><img src="http://placehold.it/320x240&text=Ad" /></p>-->
    </div>
  </section>
</div>
<div class="row">
  {% include branding-footer.snippet %}
</div>
</body>
</html>
