<!DOCTYPE html>
<html>
{% include head-tag.snippet %}
<body style="padding-top: 35px;">
  <header>
    {% include header.snippet %} 
  </header>
  {% if page.layout_keyword == 'one_column' %}
  <!-- // One column template with hero --> 
    {% if page.hero_image != null %}
      <section id="hero-wrapper">
        {% include hero.snippet %}
      </section>
    {% endif %}
    <section>
      <div class="row">
        <div class="twelve columns">
          {% if page.hero_image != null %}
            {% include find-group.snippet %}
          {% endif %}
          {{ content }}
        </div>
      </div>
    </section>
  <!-- // END One columns template with hero -->
  {% endif %}
  
  {% if page.layout_keyword == 'basic_info' %}
  <!-- // Basic informational page tempalte with right column and hero --> 
    <section id="info-hero-wrapper">
      {% include hero.snippet %}
    </section>
    <section class="row" id="info-content">
      <div class="twelve columns">
        <div class="eight columns">
          {{ content }} 
        </div>
        <div class="four columns">
          {% include info-right-col.snippet %}
        </div>
      </div>
    </section>
  <!-- // END Basic informational page template with right column and hero -->
  {% endif %}

  {% if page.layout_keyword == 'knowledge_base' %}
  <!-- // Basic informational page tempalte with right column and hero --> 
    <section id="knowledge-hero-wrapper">
      {% include hero.snippet %}
    </section>
    <section class="row" id="knowledge-content">
      <div class="twelve columns">
        <div class="eight columns">
          {{ content }} 
        </div>
        <div class="four columns">
          {% include info-right-col.snippet %}
        </div>
      </div>
    </section>
  <!-- // END Basic informational page template with right column and hero -->
  {% endif %}

  {% if page.layout_keyword == 'knowledge_base_page' %}
    <script type="text/javascript">
    $(document).ready(function(){
      $('.toggler').click(function(){
        $(this).parent().next().slideToggle();
        $(this).toggleClass('collapsed');
      });
    });
    </script>
  <!-- // Basic informational page tempalte with right column and hero --> 
    <section id="knowledge-hero-wrapper">
      {% include hero.snippet %}
    </section>
    <section class="row" id="knowledge-content">
      <div class="twelve columns" id="video-block">
        {% include user_help_videos.snippet %}
      </div>
      <div class="twelve columns">
        <div class="three columns" id="knowledge_left_nav">
          {% if page.tags == 'basic_user_pages' %}{% include basic_user_nav.snippet %}{% endif %}
          {% if page.tags == 'group_admin_pages' %}{% include admin_user_nav.snippet %}{% endif %}
        </div>
        <div class="nine columns">
          {% if page.tags == 'basic_user_pages' %}<div id="video-block">{% include basic_user_videos.snippet %}</div>{% endif %}
          {% if page.tags == 'group_admin_pages' %}<div id="video-block">{% include admin_user_videos.snippet %}</div>{% endif %}
          {{ content }} 
        </div>
      </div>
    </section>
  <!-- // END Basic informational page template with right column and hero -->
  {% endif %}

  {% if page.layout_keyword == 'knowledge_base_video' %}
  <!-- // Basic informational page tempalte with right column and hero --> 
    <section id="knowledge-hero-wrapper">
      {% include hero.snippet %}
    </section>
    <section class="row">
      <div class="twelve columns" id="video-page">
        <video id="media-player" src="{{ page.video_url }}"></video>
        <script type="text/javascript">
          var player_params = {};
          {% if page.osmplayer.params %}
            {% for param in page.osmplayer.params %}
              player_params['{{ param[0] }}'] = '{{ param[1] }}';
            {% endfor %}
          {% endif %}          
          jQuery(function() { jQuery('#media-player').osmplayer(player_params); });
        </script>
      </div>
    </section>
  <!-- // END Basic informational page template with right column and hero -->
  {% endif %}
  
  {% if page.layout_keyword == 'feature' %}
  <!-- // Features page template with right column and hero -->
    <section id="feature-hero-wrapper">
      {% include hero.snippet %}
    </section>
    <section class="row" id="feature-content">
      <div class="twelve columns">
        <div class="nine columns">
          {{ content }} 
        </div>
        <div class="three columns">
          {% include feature-nav.snippet %}
        </div>
      </div>
    </section>
  <!-- // END Features page template with right column and hero -->
  {% endif %}
  {% include demo.snippet %}
  <footer>
    {% include footer.snippet %}
  </footer>
    <script>
      $(document).ready(function(){
        $('#features').click(function(){
          $("#joyRideTipContent").joyride({

          });
          
          $('a.joyride-next-tip').click(function(){
            var data = $(this).closest('.joyride-tip-guide').attr('data-index');

            if(data == 1) {
              $('.enterprise-tab a').click();
            }
          });
        });

      });
    </script>
</body>
</html>
