<!DOCTYPE html>
<html>
{% include head-tag.snippet %}
<body style="padding-top: 35px;">
  <header>
    {% include header.snippet %} 
  </header>
  {% if page.layout_keyword == 'one_column' %}
  <!-- // One column template with hero --> 
    {% if page.hero_image != null %}
      <section id="hero-wrapper">
        {% include hero.snippet %}
      </section>
    {% endif %}
    <section>
      <div class="row">
        <div class="twelve columns">
          {% if page.hero_image != null %}
            {% include find-group.snippet %}
          {% endif %}
          {{ content }}
        </div>
      </div>
    </section>
  <!-- // END One columns template with hero -->
  {% endif %}
  
  {% if page.layout_keyword == 'basic_info' %}
  <!-- // Basic informational page tempalte with right column and hero --> 
    <section id="info-hero-wrapper">
      {% include hero.snippet %}
    </section>
    <section class="row" id="info-content">
      <div class="twelve columns">
        <div class="eight columns">
          {{ content }} 
        </div>
        <div class="four columns">
          {% include info-right-col.snippet %}
        </div>
      </div>
    </section>
  <!-- // END Basic informational page template with right column and hero -->
  {% endif %}
  
  {% if page.layout_keyword == 'feature' %}
  <!-- // Features page template with right column and hero -->
    <section id="feature-hero-wrapper">
      {% include hero.snippet %}
    </section>
    <section class="row" id="feature-content">
      <div class="twelve columns">
        <div class="nine columns">
          {{ content }} 
        </div>
        <div class="three columns">
          {% include feature-nav.snippet %}
        </div>
      </div>
    </section>
  <!-- // END Features page template with right column and hero -->
  {% endif %}
  {% include demo.snippet %}
  <footer>
    {% include footer.snippet %}
  </footer>
    <script>
      $(document).ready(function(){
        $('#features').click(function(){
          $("#joyRideTipContent").joyride({

          });
          
          $('a.joyride-next-tip').click(function(){
            var data = $(this).closest('.joyride-tip-guide').attr('data-index');

            if(data == 1) {
              $('.enterprise-tab a').click();
            }
          });
        });

      });
    </script>
</body>
</html>
