<!DOCTYPE html>
<html>
{% include head-tag.snippet %}
<body>
<!-- Header and Nav -->
{% include header.snippet %} 
<!-- End Header and Nav -->
<div>
  <div class="three columns">
    <ul class="nav-bar vertical">
      <li><a href="">The Grid</a></li>
      <li><a href="">Typography</a></li>
      <li><a href="">Buttons</a></li>
      <li><a href="">Forms</a></li>
      <li><a href="">Navigation</a></li>
      <li><a href="">Tabs</a></li>
      <li><a href="">Elements</a></li>
    </ul>
  </div>
  <div class="six columns">
    {{ content }} 
  </div>
  <div class="three columns">
    <p><img src="http://placehold.it/320x240&text=Ad" /></p>
  </div>
</div>
<div class="twelve columns">
  {% include footer.snippet %}
</div>
</body>
</html>
